{% extends "package/resource_edit_base.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Add resource') }} {{ g.template_title_delimiter }} {{ h.dataset_display_name(pkg) }}{% endblock %}
{% block form_title %}{{ _('Add resource') }}{% endblock %}




{% block content_primary_nav %}
  <li class=""><a href="#"><i class="fa fa-pencil-square-o"></i> {{ _('New resource') }}</a></li>
  <li class="active">{% link_for _('Bulk Upload'), named_route='bulkupload.bulk_upload', pkg_dict=pkg_dict, pkg_name=pkg_name,  icon='plus-square' %}</li>
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_help.html' %}
{% endblock %}

{% block form %}
<form  id="bulk_upload_form" method="post">

    <input syle="margin-bottom:20px;" class ='btn btn-default' type="file" name="file[]" multiple=""> 
    {{ form.textarea('desc', id='field-description', label=_('Description'),  value='') }}

    <div style="display:flex; gap:10px">
      <button type='submit', class ='btn btn-primary', icon='plus-square'>{{_('Upload')}}</button>
    </div>
  </form>
{% endblock %}