{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content %}
<p> </p>
  {% block form %}
    {% if errors %}
  <p class="text-danger">Please choose a file</p>
{% endif %}
  <form id="bulk_upload_form" method="post" enctype="multipart/form-data">
    {{ form.input('title', id='field-dataset-title', label=_('Dataset Title'), value=pkg_dict.title, error="", placeholder='eg. TransX data') }}
      <div style="margin:-20px 0px 20px 0px;"><small>{{ form.info('The name of the dataset') }}</small></div>  
      {{ form.input('date-start', type='date', id='field-date-start',  label=_('Date start'), value=pkg_dict.dataset_start_date, error='') }}
      <div style="margin:-20px 0px 20px 0px;"><small>{{ form.info('Date start') }}</small></div>
      {{ form.input('date-end', type='date', id='field-date-end',  label=_('Date end'), value=pkg_dict.dataset_end_date, error='') }}
      <div style="margin:-20px 0px 20px 0px;"><small>{{ form.info('Date end') }}</small></div>
      <div>
        <label for="field-organization">{{ _('Organization') }}</label>
        <input type="text" id="field-organization" name="organization" value="{{ pkg_dict.organization.title }}" disabled>
      </div>
      <div style="margin-bottom: 30px;"></div>
      <div style="margin:-20px 0px 20px 0px;"><small>{{ form.info('Organization') }}</small></div>  

      <div style="margin-bottom: 40px;">
        <strong class="text-success">Dataset Created. Please upload the file</strong>
      </div>

      <div style="margin-bottom: 20px;"><input class ='btn btn-default' type="file" name="file[]"></div>
      <div style="display:flex; gap:10px">
        <button type='submit' class ='btn btn-primary' icon='plus-square'>{{_('Upload')}}</button>
      </div>
    </form>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A CKAN Dataset is a collection of data resources (such as files),
          together with a description and other information, at a fixed URL.
          Datasets are what users see when searching for data.
          {% endtrans %}
          {{pkg_dict.organization.title}}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}

